<div id="notes-list">
  <div class="table-container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Content</th>
          <th>Author</th>
          <th>Tags</th>
          <% if request.path == drafts_notes_path %>
            <th>Actions</th>
          <% end %>
        </tr>
      </thead>
      <tbody id="notes-table-body">
        <%= render partial: "notes/note_row", collection: notes, as: :note %>
      </tbody>
    </table>
  </div>
</div> 