
<form id="note" action="/notes" method="post">
  <input id="title" name="title">
  <input id="x" type="hidden" name="content">
  <trix-editor input="x"></trix-editor>
  <button type="submit" value="submit">Submit</button>
</form>