<%= turbo_frame_tag "modal" do %>
  <div class="modal-overlay">
    <div class="modal modal-md">
      <div class="modal-header">
        <h2 class="modal-title">Publish a New Note</h2>
        <%= link_to notes_path, class: "modal-close", data: { turbo_frame: "modal" } do %>
          <i class="fa-solid fa-times"></i>
        <% end %>
      </div>
      
      <div class="modal-body">
        <%= render 'form', note: @note %>
      </div>
      
      <div class="modal-footer">
        <%= link_to 'Cancel', notes_path, class: 'btn btn-outline', data: { turbo_frame: "modal" } %>
        <button type="submit" form="note-form" name="note[status]" value="draft" class="btn btn-secondary">
          <i class="fa-solid fa-file"></i>
          Save as Draft
        </button>
        <button type="submit" form="note-form" name="note[status]" value="published" class="btn btn-primary">
          <i class="fa-solid fa-paper-plane"></i>
          Publish
        </button>
      </div>
    </div>
  </div>
<% end %>