<%= render 'note_content', note: @note %>

<div class="content-section mt-8">
  <div class="section-header">
    <h2 class="section-title">Comments</h2>
  </div>
  
  <div class="section-content">
    <div id="comments">
      <% if @comments.any? %>
        <%= render @comments %>
      <% else %>
        <p class="text-gray-500 text-center py-8">No comments yet. Be the first to comment!</p>
      <% end %>
    </div>
    
    <div class="mt-6">
      <%= render template: 'comments/new' %>
    </div>
  </div>
</div>

<%= turbo_frame_tag "modal" %>