<%= form_with(model: comment, url: polymorphic_path([comment.commentable, comment]), id: "comment-form") do |form| %>
  <div class="form-group">
    <%= form.label :content, class: "form-label" %>
    <%= form.rich_text_area :content, class: "form-input" %>
  </div>
  
  <div class="form-actions mt-4">
    <%= form.submit "Save Comment", class: "btn btn-primary" %>
  </div>
<% end %>