<%= turbo_frame_tag "modal" do %>
  <div class="modal-overlay">
    <div class="modal modal-md">
      <div class="modal-header">
        <h2 class="modal-title">Editing Comment</h2>
        <%= link_to polymorphic_path(@comment.commentable), class: "modal-close", data: { turbo_frame: "modal" } do %>
          <i class="fa-solid fa-times"></i>
        <% end %>
      </div>
      
      <div class="modal-body">
        <%= render 'comments/form', comment: @comment %>
      </div>
      
      <div class="modal-footer">
        <%= link_to 'Cancel', polymorphic_path(@comment.commentable), class: 'btn btn-outline', data: { turbo_frame: "modal" } %>
      </div>
    </div>
  </div>
<% end %>