<h1>Welcome to the Christadelphian Compendium</h1>
<div>Check out notes for your Daily Readings, or share your own thoughts on specific topics.</div>
# <%= f.text_area :content, :class => 'ckeditor' %>